@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

@layer base {
  button {
    @apply flex items-center justify-center text-sm font-semibold  text-secondary px-6 py-3 bg-primary rounded-full hover:bg-tertiary hover:text-white hover:shadow-md
  }
  ul > li > a {
    @apply text-base font-medium hover:text-cool
  }
}
